@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TheBlogEngine.Shared.Blog
@{
   ViewData["Title"] = "Create Blog";
}


<form asp-action="CreateBlog" method="post">
    <div class="mb-3">
        <label for="blogTitle" class="form-label" asp-for="Title">Title</label>
        <input type="text" class="form-control" id="blogTitleInput" placeholder="Enter Title of Blog" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label" asp-for="Content">Content</label>
        <textarea type="text" class="form-control" id="contentInput" asp-for="Content">
            Enter content here.....
        </textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Post</button>
</form>