@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="blog-card card">
        <div class="card-body">
            <div class="left">
                <h1 class="card-title">Learning to Code</h1>
                <div class="blog-meta">
                    <span>Author</span>
                    <span>Date</span>
                    <span>Tags</span>
                </div>
                <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                    <a href="#" class="card-link">Read More</a>
                </p>
            </div> 
        </div>
    </div>
</div>

